:root {
    --orange: #ffdb97;
    --jaune: #ffe7d3; 
    --rose: #ff8ec7;  
    --rose-dark: #FE48A5;
    --bleu: #A7D8FF;  
    --bleu-dark: #5CB9FF;
    --bg-color: #ffefe2;
    --white: #ffffff;
    --text-color: #6E6E6E;
}

    


/* RESET & BASE */
body, .tablecloth {
    font-family:Georgia, 'Times New Roman', Times, serif; /* La nouvelle police toute ronde */
    font-size: 19px;
    line-height: 1.7;
    color: var(--text-color);
    text-align: left; /* Plus moderne que justify pour cette police */
    margin-bottom: 20px;
    font-weight: 400;
    background-color: var(--bg-color);
    color: var(--rose);
    margin: 0;
    padding: 0;
}

/* HEADER */
.headersun {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.titlegroup {
    flex-grow: 1;
    text-align: center;
}

.titlepink {
    font-family: 'Pacifico', cursive;
    color: var(--rose); 
    font-size: 50px; 
    margin: 0;
}

.slogan {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
}

/* NAVIGATION PRINCIPALE */
.navsimple {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: var(--rose);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    transform: translateY(-5px);
}

.navsimple a {
    color: var(--white);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.navsimple a:hover {
    font-family:'Pacifico', cursive ;
    background-color: var(--bleu);
    color: var(--rose-dark);
    border-radius: 5px;
    transform: translateY(-4px); 
}

/* RECHERCHE */
.zone {
    text-align: center;
    padding: 20px 0;
}

.zone input {
    width: 250px;
    padding: 10px 20px;
    border: 2px solid var(--rose); 
    border-radius: 20px;
    outline: none;
}

.zone button {
    background-color: var(--rose);
    color: var(--white);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: -45px;
}


/* CARTES PRODUITS */
.product {
    background-color: var(--orange);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    width: 220px;
    text-align: center;
    transition: 0.3s;
    
}

.product:hover { transform: translateY(-5px); }

.product img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

/* FORMULAIRES & BOITES DE CONTENU (Inscr, Profil, Note) */
.formsection, .formsectionn {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    
    
}

.formcontainer, .formcontainerr {
    background-color: var(--white);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 0px var(--orange);
    width: 90%;
    max-width: 450px;
    border: 2px solid var(--rose);
    
    
    
}

/* INPUTS DANS FORMULAIRES */
input, select, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid #ddd;
    background-color: #fffaf0;
    box-sizing: border-box; /* Important pour que 100% de large ne dépasse pas */
}

/* BOUTONS */
.btninscription, button[type="submit"] {
    background-color: var(--rose);
    color: var(--white);
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    transition: 0.3s;
}

.btninscription:hover {
    background-color: var(--rose-dark);
    transform: scale(1.02);
}

.plus{
    color:#ff8ec7;
    text-decoration: none;
    text-align: center;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; 
  transition: 0.3s;    /* Centre verticalement */
            /* Hauteur plein écran pour l'exemple */
}
.plus:hover{
    transform: translateY(-3px);
    color:#5CB9FF;

}
.title{
    text-align: center;
}

/* IMAGES & LOGO */
.removebg {
    mix-blend-mode: multiply;
    filter: contrast(1.1);
    height: 120px;
    vertical-align: middle;
}

.signature{
    font-family: 'Pacifico'; 
    color: var(--rose);
}
.grade{
    text-align: left; 
    margin-bottom: 15px;
}
.ratingorder{
    color: var(--orange); 
    font-weight: bold; 
    margin-bottom: 20px;
}
.gradestyle{
    color: var(--rose); 
    font-weight: bold; 
    display: block; 
    margin-bottom: 5px;

}
.comment{
    margin-bottom: 15px;
}
.formselect{
    width: 100%; 
    padding: 10px; 
    border-radius: 15px; 
    border: 1px solid #ddd; 
    background-color: #fffaf0;
}
.smalltext{
    width: 100%; height: 100px; 
    padding: 12px; 
    border-radius: 15px; 
    border: 1px solid #ddd; 
    background-color: #fffaf0; 
    box-sizing: border-box; 
    font-family: sans-serif;
}
html { 
    scroll-behavior: smooth; 
}

/* Styles pour la section Menu */
.menucontainer {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
}

.menulist {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    width: 45%;
}

.menuitem {
    margin-bottom: 15px;
}

.menuitemcentered {
    margin-bottom: 15px;
    text-align: center;
}

/* Transformation des liens en boutons/liens propres */
.menulinkbutton {
    text-align: center; 
    display: block; 
    text-decoration: none; 
    font-size: 16px; 
    padding: 10px;
}
/* Titres de sections de formulaires */
.profilesectiontitle {
    font-size: 30px;
}

/* Message fidélité */
.loyaltymessage {
    color: var(--rose);
    font-weight: bold;
    margin-top: 10px;
}

/* Éléments de commande */
.orderitem {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--orange);
}

.orderitem:last-child {
    border-bottom: none; /* Enlève la ligne pour le dernier élément */
}

.statusdelivered {
    color: green;
}

/* Bouton réduit pour les listes */
.btnsmall {
    font-size: 14px;
    padding: 10px;
}
/* ----------------------------------------------------------------------------
    2. NAVIGATION ET FOOTER 
    --------------------------------------------------------------------------------*/
   
       footer {
    background-color: var(--orange);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer2 p {
    margin: 5px 0;
    color: var(--text-color);
}

.instapote strong {
    color: var(--rose);/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
}

.minibar {
    width: 50px;
    border: 1px solid var(--rose);
    margin: 10px auto;
    opacity: 0.5;
}
.logofooter {
    
    height: 120px;
    
    width: auto;
    
    mix-blend-mode: multiply;
    
    filter: contrast(1.2);
    float : left;
    
    vertical-align: left;
    
    }



/*----------------------------------------------------------------------------------
3. PAGE D'ACCEUIL (acceuil.htmll)
----------------------------------------------------------------------------------*/
    

    /*header*/
    .headersun {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: var(--bg-color);
    
    }
    .titlegroup {
    flex-grow: 1;
    text-align: center;
    
    }
    .menutitle{
          font-size: 30px; 
          margin-bottom: 20px; 
          text-align: center;
          color: var(--rose);
        font-family: 'Pacifico', cursive;
    }
    .titlepink {
      
    color: var(--rose);
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin: 0;
    }
    
    .slogan {
    font-family: 'Arial', sans-serif;
    font-size: 26px;
    color: var(--rose);
    margin-top: 5px;
    font-style: italic; 
    font-weight: normal;
    
    }
    .logoheader {
    height: 150px;
    width: auto;
    mix-blend-mode: multiply;
    filter: contrast(1.2);
    vertical-align: middle;
    }
 
    /*recherche */
    .zoneresearch {
    text-align: center;
    padding: 15px 0;
    }
    
    .zoneresearch input {
    width: 250px;
    padding: 8px 15px;
    border: 2px solid var(--rose); 
    border-radius: 20px;
    font-size: 14px;
    }
    
    .zoneresearch button {
    background-color: var(--rose);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: -40px;
    }


    .textpresentation {
     text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 19px;
    line-height: 1.7;
    color: var(--text-color);
    text-align: left; 
    margin-bottom: 20px;
    font-weight: 400;
}

.textpresentation strong {
    color: var(--rose);
    font-weight: 600;
}
    .ourstory {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 40px 20px;
    margin: 30px 10%;
    border-radius: 20px;
    border: 1px solid var(--jaune);
    text-align: center;
    }
    .storycontainer {
    max-width: 700px; 
    margin: 0 auto;   
}

.logosignature{
    height: 40px;
    width: auto;
    mix-blend-mode: multiply;
    filter: contrast(1.2);
    vertical-align: middle;
    }
    
    
    .sectionpresentation {
        
    padding: 40px 10%;
    display: flex;
    justify-content: center;
    
    }
    
    
    .contentflex {
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    
    }
    .reverse .contentflex { flex-direction: row-reverse; }
    
    
    .imgzoom {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid var(--rose);
    
    }
    
    
    
    .bestsellerunique { 
        text-align: center; padding: 50px 0; margin-bottom: 50px ;}
    
    .product.star {
    
    margin: 40px auto ;
    width: 300px;
    border: 4px solid var(--rose);
    transform: scale(1.1);
    position: relative;
    background-color: var(--orange);
    padding: 20px;
    border-radius: 20px;
    
    }
    
    .badgestar {
    position: absolute;
    top: -15px;
    background: var(--rose);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    }
    
    
    .product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    }
    
    
    

/*---------------------------------------------------------------------------------
4.PAGE D'INSCRPTION / CONNEXION 
----------------------------------------------------------------------------------*/
   
.formsection {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.formcontainer {
    
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 0px var(--orange); 
    width: 90%;
    max-width: 500px;
    text-align: center;
    border: 2px solid var(--rose);
}

.formgroup {
    display: flex;
    gap: 10px;
}

.formcontainer input, .formcontainer textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid #ddd;
    background-color: #fffaf0; 
    box-sizing: border-box; 
}

.formcontainer h3 {
    text-align: left;
    color: var(--bleu);
    font-size: 16px;
    margin-top: 20px;
}

.separator {
    border: 0;
    border-top: 2px dashed var(--orange);
    margin: 20px 0;
}

.btninscription {
    background-color: var(--rose);
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 10px;
}

.btninscription:hover {
    background-color: #FE48A5;
    transform: translateY(-2px);
}

.linkconnection {
    margin-top: 15px;
    font-size: 14px;
}



.inputwrapper {
    text-align: left;
    margin-bottom: 15px;
}

.inputwrapper label {
    font-weight: bold;
    color: var(--text-color);
    font-size: 14px;
    margin-left: 5px;
}

.passwordoversight {
    text-align: right;
    font-size: 12px;
    margin-bottom: 20px;
}

.passwordoversight a {
    color: var(--text-color);
    text-decoration: underline;
}

.passwordoversight a:hover {
    color: var(--rose);
}





/* ------------------------------------------------------------------------------
5. PAGE ADMIN 
--------------------------------------------------------------------------------- */
.admincontainer {
    padding: 40px 5%;
}

.admincard {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.titleblue {
    color: var(--bleu);
    font-family: 'Pacifico', cursive;
}

.adminfilters {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.btnfilter {
    background: #f0f0f0;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.btnfilter.active {
    background: var(--rose);
    color: white;
}

/* Tableau */
.usertable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.usertable th {
    text-align: left;
    background-color: var(--orange);
    padding: 12px;
    color: var(--text-color);
}

.usertable td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}


.badge {
    background: #eee;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.badge.order {
    background: var(--bleu);
    color: white;
}


.btnview {
    text-decoration: none;
    color: var(--rose);
    font-weight: bold;
    border: 1px solid var(--rose);
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.btnview:hover {
    background: var(--rose);
    color: white;
}
/* ---------------------------------------------------------------------------------
 6.PAGES COMMANDES
 -------------------------------------------------------------------------------- */
.dashboardorders{
    display: flex;
    gap: 30px;
    padding: 30px 5%;
    justify-content: center;
}

.columnorders {
    flex: 1;
    max-width: 450px;
    background: #fdfdfd;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid #eee;
}

.titleprep { color: #FF4D4D; text-align: center; } 
.titledel { color: #4D94FF; text-align: center; }  

.ordercard {
    background: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 0px #eee;
}

.orderheader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.idorder { font-weight: bold; color: var(--rose); }

.btnactionprep {
    width: 100%;
    background-color: var(--jaune);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.btnactionprep:hover {
    background-color: var(--rose);
    color: white;
}

.badgedelivery{
    display: block;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #888;
    margin-top: 10px;
}


@media (max-width: 800px) {
    .dashboardorders {
        flex-direction: column;
        align-items: center;
    }
}

/*-------------------------------------------------------------------------------------
7. PAGE DE LIVRAISON 
-----*---------------------------------------------------------------------------------*/
.bodydeliveryperson {
    background-color: #f4f4f4;
    font-family: 'Segoe UI', sans-serif;
}

.headerdeliveryperson {
    background-color: var(--rose);
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerdeliveryperson h2 { margin: 0; font-size: 18px; }

.backlink { color: white; text-decoration: none; font-size: 14px; padding:1.20%}

.containermobile {
    padding: 15px;
    max-width: 500px; /* On simule la largeur d'un téléphone sur PC */
    margin: 0 auto;
}

.carddelivery {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nameclient { font-size: 24px; margin-bottom: 10px; color: var(--text-color); }

.btntel {
    display: inline-block;
    background-color: var(--bleu);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
}

.detailbloc { margin-top: 25px; }

.detailbloc h3 {
    font-size: 14px;
    color: #888;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.adresstext { font-size: 18px; font-weight: bold; margin-bottom: 10px; }

.btnmaps {
    display: block;
    text-align: center;
    background-color: #4285F4; /* Bleu Google Maps */
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
}

.grilleaccess {
    display: flex;
    gap: 20px;
    background: #fffaf0;
    padding: 10px;
    border-radius: 10px;
}

.commdeliveryperson {
    background: #fdf2f8;
    padding: 10px;
    border-left: 4px solid var(--rose);
    font-style: italic;
}

.btnvalidatedelivery {
    width: 100%;
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 18px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
.removebb {
    mix-blend-mode: multiply;
    filter: contrast(1.1);
    height: 80px;
    vertical-align: middle;
}
.editicon {
            cursor: pointer;
            margin-left: 10px;
            font-size: 14px;
            color: var(--rose);
            transition: 0.3s;
}
.editicon:hover {
    color: var(--rose-dark);
    transform: scale(1.2);
}




