/*--------------------------------------------------------------------------------
1. VARIABLES ET BASES(COMMUN A TOUS LE SITE)
---------------------------------------------------------------------------------*/
:root {

    --jaune: #FFE66D;
    --rose: #FF9ECF;
    --bleu: #A7D8FF;
    --text-color: #6E6E6E;
    --orange : #ffdb97 ;
    --bg-color: #ffefe2;
    
    }

    body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    }
      input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    } 
    
    
    /* ----------------------------------------------------------------------------
    2. NAVIGATION ET FOOTER 
    --------------------------------------------------------------------------------*/
    .nav {
    background-color: var(--rose);
    display: flex;
    justify-content: center;
    padding: 10px;
    }

    .nav a {
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    
    }
       footer {
    background-color: var(--orange);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-family: 'Quicksand', sans-serif;
}

.footer-2 p {
    margin: 5px 0;
    color: var(--text-color);
}

.insta-pote strong {
    color: var(--rose);
}

.mini-barre {
    width: 50px;
    border: 1px solid var(--rose);
    margin: 10px auto;
    opacity: 0.5;
}
.logo-footer {
    
    height: 120px;
    
    width: auto;
    
    mix-blend-mode: multiply;
    
    filter: contrast(1.2);
    float : left;
    
    vertical-align: left;
    
    }



/*----------------------------------------------------------------------------------
3. PAGE D'ACCEUIL (acceuil.htmll)
----------------------------------------------------------------------------------*/
    

    /*header*/
    .header-sun {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: var(--bg-color);
    
    }
    .titre-group {
    flex-grow: 1;
    text-align: center;
    
    }
    
    .titre-rose {
    color: var(--rose);
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin: 0;
    }
    
    .slogan {
    font-family: 'Arial', sans-serif;
    font-size: 26px;
    color: var(--rose);
    margin-top: 5px;
    font-style: italic; 
    font-weight: normal;
    
    }
    .logo-header {
    height: 150px;
    width: auto;
    mix-blend-mode: multiply;
    filter: contrast(1.2);
    vertical-align: middle;
    }

    /*recherche */
    .zone-recherche {
    text-align: center;
    padding: 15px 0;
    }
    
    .zone-recherche input {
    width: 250px;
    padding: 8px 15px;
    border: 2px solid var(--rose); 
    border-radius: 20px;
    font-size: 14px;
    }
    
    .zone-recherche button {
    background-color: var(--rose);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: -40px;
    }


    .texte-presentation {
    font-family: 'Quicksand', sans-serif; 
    font-size: 19px;
    line-height: 1.7;
    color: var(--text-color);
    text-align: left; 
    margin-bottom: 20px;
    font-weight: 400;
}

.texte-presentation strong {
    color: var(--rose);
    font-weight: 600;
}
    .notre-histoire {
    background-color: #fff;
    padding: 40px 20px;
    margin: 30px 10%;
    border-radius: 20px;
    border: 1px solid var(--jaune);
    text-align: center;
    }
    .histoire-container {
    max-width: 700px; 
    margin: 0 auto;   
}

.logo-signature{
    height: 40px;
    width: auto;
    mix-blend-mode: multiply;
    filter: contrast(1.2);
    vertical-align: middle;
    }
    
    
    .section-presentation {
    padding: 40px 10%;
    display: flex;
    justify-content: center;
    
    }
    
    
    .contenu-flex {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    
    }
    .inverse .contenu-flex { flex-direction: row-reverse; }
    
    
    .img-zoom {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid var(--rose);
    
    }
    
    
    
    .best-seller-unique { text-align: center; padding: 50px 0; margin-bottom: 50px ;}
    
    .product.star {
    
    margin: 40px auto ;
    width: 300px;
    border: 4px solid var(--rose);
    transform: scale(1.1);
    position: relative;
    background-color: var(--orange);
    padding: 20px;
    border-radius: 20px;
    
    }
    
    .badge-star {
    position: absolute;
    top: -15px;
    background: var(--rose);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    }
    
    
    .product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    }
    
    
    

/*---------------------------------------------------------------------------------
4.PAGE D'INSCRPTION / CONNEXION 
----------------------------------------------------------------------------------*/
   
.form-section {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 0px var(--orange); 
    width: 90%;
    max-width: 500px;
    text-align: center;
    border: 2px solid var(--rose);
}

.form-group {
    display: flex;
    gap: 10px;
}

.form-container input, .form-container textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid #ddd;
    background-color: #fffaf0; 
    box-sizing: border-box; 
}

.form-container h3 {
    text-align: left;
    color: var(--bleu);
    font-size: 16px;
    margin-top: 20px;
}

.separateur {
    border: 0;
    border-top: 2px dashed var(--orange);
    margin: 20px 0;
}

.btn-inscription {
    background-color: var(--rose);
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-inscription:hover {
    background-color: #FE48A5;
    transform: translateY(-2px);
}

.lien-connexion {
    margin-top: 15px;
    font-size: 14px;
}



.input-wrapper {
    text-align: left;
    margin-bottom: 15px;
}

.input-wrapper label {
    font-weight: bold;
    color: var(--text-color);
    font-size: 14px;
    margin-left: 5px;
}

.mdp-oublie {
    text-align: right;
    font-size: 12px;
    margin-bottom: 20px;
}

.mdp-oublie a {
    color: var(--text-color);
    text-decoration: underline;
}

.mdp-oublie a:hover {
    color: var(--rose);
}





/* ------------------------------------------------------------------------------
5. PAGE ADMIN 
--------------------------------------------------------------------------------- */
.admin-container {
    padding: 40px 5%;
}

.admin-card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.titre-bleu {
    color: var(--bleu);
    font-family: 'Pacifico', cursive;
}

.admin-filters {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.btn-filter {
    background: #f0f0f0;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-filter.active {
    background: var(--rose);
    color: white;
}

/* Tableau */
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th {
    text-align: left;
    background-color: var(--orange);
    padding: 12px;
    color: var(--text-color);
}

.user-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}


.badge {
    background: #eee;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.badge.commande {
    background: var(--bleu);
    color: white;
}


.btn-view {
    text-decoration: none;
    color: var(--rose);
    font-weight: bold;
    border: 1px solid var(--rose);
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-view:hover {
    background: var(--rose);
    color: white;
}
/* ---------------------------------------------------------------------------------
 6.PAGES COMMANDES
 -------------------------------------------------------------------------------- */
.dashboard-commandes {
    display: flex;
    gap: 30px;
    padding: 30px 5%;
    justify-content: center;
}

.colonne-commande {
    flex: 1;
    max-width: 450px;
    background: #fdfdfd;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid #eee;
}

.titre-prep { color: #FF4D4D; text-align: center; } 
.titre-liv { color: #4D94FF; text-align: center; }  

.commande-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 0px #eee;
}

.commande-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.id-commande { font-weight: bold; color: var(--rose); }

.btn-action-prep {
    width: 100%;
    background-color: var(--jaune);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.btn-action-prep:hover {
    background-color: var(--rose);
    color: white;
}

.badge-livraison {
    display: block;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #888;
    margin-top: 10px;
}


@media (max-width: 800px) {
    .dashboard-commandes {
        flex-direction: column;
        align-items: center;
    }
}

/*-------------------------------------------------------------------------------------
7. PAGE DE LIVRAISON 
*/--------------------------------------------------------------------------------------
.body-livreur {
    background-color: #f4f4f4;
    font-family: 'Segoe UI', sans-serif;
}

.header-livreur {
    background-color: var(--rose);
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-livreur h2 { margin: 0; font-size: 18px; }

.back-link { color: white; text-decoration: none; font-size: 14px; }

.container-mobile {
    padding: 15px;
    max-width: 500px; /* On simule la largeur d'un téléphone sur PC */
    margin: 0 auto;
}

.carte-livraison {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nom-client { font-size: 24px; margin-bottom: 10px; color: var(--text-color); }

.btn-tel {
    display: inline-block;
    background-color: var(--bleu);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
}

.detail-bloc { margin-top: 25px; }

.detail-bloc h3 {
    font-size: 14px;
    color: #888;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.adresse-texte { font-size: 18px; font-weight: bold; margin-bottom: 10px; }

.btn-maps {
    display: block;
    text-align: center;
    background-color: #4285F4; /* Bleu Google Maps */
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
}

.grille-acces {
    display: flex;
    gap: 20px;
    background: #fffaf0;
    padding: 10px;
    border-radius: 10px;
}

.comm-livreur {
    background: #fdf2f8;
    padding: 10px;
    border-left: 4px solid var(--rose);
    font-style: italic;
}

.btn-valider-livraison {
    width: 100%;
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 18px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}





