<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>SunSip - Notation</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>

    <header class="headersun">
        <div class="titlegroup">
            <h1 class="titlepink">SunSip</h1>
            <p class="slogan">
                "Frais et délicieux : Le smoothie qui défie le soleil de Bangkok !"
            </p>
        </div>
        <img src="logo.jpeg" alt="Logo SunSip" class="removebg">
    </header>

    <nav class="navsimple">
        <a href="acceuil.html">Accueil</a>
        <a href="presentation.html">Carte</a>
        <a href="profil.html">Mon profil</a>
        <a href="connexion.html">Déconnexion</a>
        <a href="notation.html">Notation</a>
    </nav>

    <section class="formsection">
        <div class="formcontainer">
            <h2 class="titlepink">Noter ma commande</h2>
            <p class="ratingorder">Commande #101</p>

            <form action="#">
                <div class="grade">
                    <label class="gradestyle">Qualité des produits :</label>
                    <select class="formselect" >
                        <option>⭐⭐⭐⭐⭐</option>
                        <option>⭐⭐⭐⭐</option>
                        <option>⭐⭐⭐</option>
                        <option>⭐⭐</option>
                        <option>⭐</option>
                    </select>
                </div>

                <div class="grade">
                    <label class="gradestyle">Livraison :</label>
                    <select class="formselect">
                        <option>⭐⭐⭐⭐⭐</option>
                        <option>⭐⭐⭐⭐</option>
                        <option>⭐⭐⭐</option>
                        <option>⭐⭐</option>
                        <option>⭐</option>
                    </select>
                </div>

                <div class="comment">
                    <textarea class="smalltext" placeholder="Votre avis nous intéresse..."></textarea>
                </div>

                <button type="submit" class="btninscription">Envoyer l'avis</button>
            </form>
        </div>
    </section>

   <footer>
    <div class="footersimple">
        <p>📍 12 rue du Smoothie, Sunsippy | mail: hello@sunsip.fr</p>
        <p class="instapote">Suivez-nous sur Insta : <strong>@SunSip_Fresh</strong> </p>
        <hr class="minibar">
        <p>SunSip &copy; 2026 - Fait avec amour 🍓</p>
    </div>
</footer>

</body>
</html>
